<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-lists [finished]="false"></app-lists>

  <app-explore-container *ngIf="deseosService.lists.length === 0" name="No hay pendientes"></app-explore-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addList()" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
